.main {
  padding: 10px 0 0 0;
}

.sort-control {
  margin-bottom: 10px;
<<<<<<< HEAD
}

.btn-main {
  background: var(--cyan);
  padding: 10px 30px;
  text-transform: uppercase;
  border-color: var(--cyan);
  transition: .4s all ease-in-out;

  &:hover {
    background: var(--cyan);
    border-color: var(--cyan);
  }

 @media screen and (min-width: "768px") {
  &:hover {
    background: var(--cyan);
    border-color: var(--cyan);
    transform: scale(1.2);
  }
 }
=======
>>>>>>> d68f96e93bd5ab7f98ea13d7ee546bfad88c1719
}